
*{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

        body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: var(--background);
    
    }
.bobo{
    background-color: var(--light);
    /* color: black; */
}
:root {
    --back: #171c31;
    --background: black;
    /* --border: 1px solid rgb(252, 243, 243); */
    --bor:1px solid black;
    --radius: 20px;
    --light:white;
    --dark:black;
    --margin:20px;
    --icon_color:#8F6A94;
    --boder_corner:15px;
    --blue:1px solid blue;
    --top:30px;
}

.continer{
    width: 100%;
    height: auto;
    border: var(--border);
    display: flex;
    margin-top: 60px;
background-color: black;
}

a{
    text-decoration: none;
}
.right {
    width: 18%;
    height: 100vh;
    border: var(--border);
    position: fixed;
    background-color: var(--back);

}
.right_color{
    background-color: var(--light);
   border: var(--bor);
}
.db{
    display: block;
    /* transition-property: transform;
    transition-duration: 5s;
    transition-timing-function: ease;
     */
}
.right_1{
    width: 100%;
    height: 60px;
    border:var(--border);
    color: var(--light);
    display: flex;
    align-items: center;
}
.right_1:hover{
    background-color: #32e0d4;
    border-radius: 20px;
}

.h3{
    width: 70%;
    height: 60px;
    border:var(--border);
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
}

.h3color{
    color: #171c31;
}
.right_2{
    width: 100%;
    height: 40px;
    border:var(--border);
    color: var(--light);
    margin-top: var(--margin);
}
.right_2:hover{
    background-color: #32e0d4;
    border-radius: 10px;
}
.profile{
    width: 95%;
    height: 40px;
    border:var(--border);
display: flex;
justify-content: center;
}
.pro_1{
    width: 30px;
    height: 30px;
    border:var(--border);
    display: flex;
    justify-content: center;
    align-items: center;

}
.pro_2{
    width: 150px;
    height: 30px;
    border:var(--border);
font-size: 18px;
font-weight: 400;
display: flex;
align-items: center;
color: var(--icon_color);
margin-left: 5px;
}
.pro_1 span{
color: var(--icon_color);
}

.right_text{
    width: 100%;
    height: 40px;
    border: var(--border);
margin-top: 20px;
display: flex;
justify-content: center;
}
.right_text:hover{
    background-color: #32e0d4;
    border-radius: 10px;
}
.right_text_2:hover{
    background-color: #32e0d4;
    border-radius: 10px;
}
.right_text_2{
    width: 100%;
    height: 40px;
    border: var(--border);
margin-top: 20px;
display: flex;
justify-content: center;
}
.text{
    width: 69%;
    height: 30px;
    border: var(--border);
    font-size: 20px;
    font-weight: 400;
    color: var(--icon_color);
display: flex;
align-items: center;
}
.chanal{
    width: 100%;
    height: 60px;
    border:var(--border);
    color: var(--light);
    margin-top: var(--margin);
    display: flex;
    justify-content: center;
}
.chanal:hover{
    background-color: #32e0d4;
    border-radius: 10px;
}
.email:hover{
    background-color: #32e0d4;
    border-radius: 10px;
}
.email_second:hover{
    background-color: #32e0d4;
    border-radius: 10px;
}
.chanal_icon{
    width: 30px;
    height: 30px;
    border:var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
}
.chanal_icon span{
    color: var(--icon_color);
    font-size: 40px;
    }
.chanal_text{
    width: 170px;
    height: 30px;
    border:var(--border);
font-size: 22px;
font-weight: 400;
display: flex;
align-items: center;
color: var(--icon_color);
margin-left: 5px;
}
.center {
    width: 80.5%;
    height: auto;
    border: var(--border);
    position: absolute;
    left: 20%;
    display: flex;
    
}
.center_santro{
    width: 100%;
    height: auto;
    border: var(--border);
    /* position: absolute;
    left: 280px; */
    /* display: flex; */
    /* justify-content: space-around; */
    position: absolute;
    left: 1px;

}

.part_1_center {
    width: 70%;
    height: auto;
    border: var(--border);
}
.part_12_center {
    width: 77%;
    height: auto;
    border: var(--border);
}

.top_div_center {
    width: 100%;
    height: 160px;
    border: var(--border);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
overflow: auto;
overflow-x: auto;
}
.top_div_center::-webkit-scrollbar{
    display: none;
}

.top_1 {
    width: 300px;
    height: 140px;
    border: var(--border);
    border-radius: var(--radius);
    /* background-color: var(--back); */
    margin-left: 20px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    
}

.top_2 {
    width: 300px;
    height: 140px;
    border: var(--border);
    border-radius: var(--radius);
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
     margin-left: 20px;
}

.top_3 {
    width: 300px;
    height: 140px;
    border: var(--border);
    border-radius: var(--radius);
   margin-left: 20px;
   /* background-color: var(--back); */
}
.top_3_under_1{
    width: 100%;
    height: 50px;
    /* border: 1px solid white; */
    display: flex;
    background-color: var(--back);
    margin-top: 10px;
    border-radius: 20px;

}
.top_3_icon_1{
    width: 50px;
    height: 100%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.mail_chat{
    width: 30px;
    height: 30px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    border-radius: 50%;
}
.top_3_icon_2{
    width: 120px;
    height: 100%;
    /* border: 1px solid white; */
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    color: var(--light);
}
.top_3_icon_3{
    width: 100px;
    height: 100%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.top_3_under_2{
    width: 100%;
    height: 50px;
    /* border: 1px solid white; */
    display: flex;
    background-color: var(--back);
    margin-top: 10px;
    border-radius: 20px;
}
.discount{
    width: 60px;
    height: 18px;
    border: 1px solid rgb(232, 220, 220);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light);
}
.top_3_icon_1 span{
    font-size: 1.4rem;
}
.luli{
    width: 260px;
height: 140px;
}
.top_text{
    width: 260px;
    height: 50px;
    /* border: 1px solid black; */
    color: var(--light);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top_text_2{
    width: 100%;
    height: 70px;
    /* border: var(--bor); */
display: flex;
justify-content: center;
align-items: center;
}
.min{
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 25px;
    margin-right: 10px;
}
.top_text_center{
    width: 165px;
    height: 50px;
    /* border: var(--bor); */
    color: var(--light);
    display: flex;
}
.top_text_2_span{
    font-size: 3rem;
    font-weight: 600;
}

.second_div_center {
    width: 100%;
    height: 360px;
    border: var(--border);
    /* margin-top: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.second_under {
    width: 95%;
    height: 330px;
    border: var(--border);
    border-radius: var(--radius);
    background-color: var(--back);
}
.chart_color{
    background-color: var(--light);
    border: 1px solid black;
    border-radius: 20px;
}

#chart {
    width: 100%;
    height: 100%;
    /* background-color: rgba(229, 221, 221, 0); */
}

.last_center {
    width: 100%;
    height: 340px;
    border: var(--border);
    /* margin-top: 20px; */
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.last_1 {
    width: 45%;
    height: 330px;
    border: var(--border);
    border-radius: var(--radius);
    background-color: var(--back);

}

.last_2 {
    width: 45%;
    height: 330px;
    border: var(--border);
    border-radius: var(--radius);
    /* background-color: rgba(0, 255, 255, 0.33); */
    background-color: var(--back);

}

.part_2_center {
    width: 23.5%;
    height: 100vh;
    /* border: 5px solid rgb(91, 18, 201); */
    position: fixed;
    right: 1%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    /* background-color: var(--background); */
}
.part_2_sentro {
    width: 26.5%;
    height: 700px;
    /* border: 5px solid rgb(91, 18, 201); */
    position: fixed;
    right: 1px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    /* background-color: var(--background); */
}

.part_2_first {
    width: 95%;
    height: 280px;
    border: var(--border);
    background-color: var(--back);
    border-radius: var(--radius);
    display: flex;
    justify-content: center;
    align-items: center;

}
.punam{
    background-color: var(--light);
    border: 1px solid black;
    border-radius: 20px;
}

.part_2_second {
    width: 95%;
    height: 340px;
    border: var(--border);
    border: 1px solid rgb(252, 243, 243);
    background-color: var(--back);
    border-radius: var(--radius);
    margin-top: 20px;
}

#chart_2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chart_3 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#chart_4 {
    width: 100%;
    height: 100%;
    /* background-color: rgba(229, 221, 221, 0); */
    display: flex;
    justify-content: start;
    align-items: center;
    border: 5spx solid rgb(254, 20, 20);
}
.butten{
    width: 70%;
    height: 60px;
    border: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

}
.but:hover{
   background-color: var(--back);
}
.but{
    width: 130px;
    height: 40px;
    border:1px solid rgb(245, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--back);
    border-bottom-left-radius: var(--boder_corner);
    border-top-right-radius: var(--boder_corner);
    background-color: white;
}
.login{
    font-size: 20px;
    font-weight: 400;
    color: var(--icon_color);
}
.span_2{
    color: var(--icon_color);
}
.chart_hading_1{
    width: 38%;
    height: 30px;
    border: var(--border);
    margin-top: 30px;
    /* margin-bottom: 10px; */
    color: var(--light);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chart_hading_2{
    width: 100%;
    height: 30px;
    border: var(--border);
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    /* margin-bottom: 10px; */
}
.tickets{
    width: 41%;
    font-size: 18px;
    height: 30px;
    border: var(--border);
    color: var(--light);
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.tickets_2{
    width: 41%;
    font-size: 18px;
    height: 30px;
    border: var(--border);
    color: var(--light);
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.coustmar{
    width: 100%;
    height: 400px;
    /* border: var(--border); */
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.coustmar_manu{
    width: 95%;
    height: 350px;
    /* border: var(--border); */
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
    /* background-color: var(--light); */
}
.number{
    width: 70px;
    height: 350px;
    /* border: var(--blue); */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.number_2{
    width: 100%;
    height: 55px;
    border: var(--blue);
    color: var(--light);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.num_second{
    width: 100%;
    height: 55px;
    /* border: var(--blue); */
    color: var(--dark);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.customer_icon{
    width: 90px;
    height: 350px;
    /* border: var(--blue); */
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.customer_icon_2{
    width: 90px;
    height: 55px;
    border: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
}
.name{
    width: 500px;
    height: 350px;
    /* border: var(--blue); */
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.name_2{
    width: 500px;
    height: 55px;
    border: var(--blue);
    color: var(--light);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name_34{
    width: 500px;
    height: 55px;
    border: var(--blue);
    color: var(--dark);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ticket_buyer{
    width: 100px;
    height: 350px;
    /* border: var(--blue); */
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.buy{
    width: 100%;
    height: 55px;
    border: var(--blue);
color: var(--light);
font-size: 20px;
display: flex;
justify-content: center;
align-items: center;
}
.bought{
    width: 100%;
    height: 55px;
    border: var(--blue);
color: var(--dark);
font-size: 20px;
display: flex;
justify-content: center;
align-items: center;
}
.number_heading{
    width: 100%;
    height: 55px;
    border: var(--blue);
    font-size: 20px;
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
}
.number_heading_2{

    color: var(--dark);
   
}
.customer_heading{
    width: 100%;
    height: 55px;
    border: var(--blue);
    font-size: 20px;
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
}
.com{
    color: var(--dark);

}
.name_heading{
    width: 100%;
    height: 55px;
    border: var(--blue);
    font-size: 20px;
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
}
.com_2{
    color: var(--dark);

}
.buy_heading{
    width: 100%;
    height: 55px;
    border: var(--blue);
    font-size: 20px;
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
}
.com_3{
    color: var(--dark);

}
.round{
    width: 35px;
    height: 35px;
    border: var(--border);
    border-radius: 50%;
}
.round img {
    border-radius: 100%;
}
.email{
    width: 100%;
    height: 40px;
    border: var(--border);
    display: flex;
    justify-content: center;
    margin-top: var(--margin);
}
.email_second{
    width: 100%;
    height: 40px;
    border: var(--border);
    display: flex;
    justify-content: center;
    margin-top: var(--margin);
}
.email_2{
    width: 71%;
    height: 30px;
    border: var(--border);
    font-size: 20px;
    color: var(--icon_color);
    display: flex;
    align-items: center;
 
}
.nav{
    width: 100%;
    height: 60px;
    /* border: 1px solid yellow; */
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    background-color: var(--background);

}
.nav_back{
    background-color: var(--light);
}
.nav_right{
    width: 200px;
    height: 60px;
    border: var(--border);
    color: var(--light);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_right_2{
  color: var(--dark);
}
.nav_left{
    width:1150px;
    height: 60px;
    border: var(--border);
    color: var(--light);
    display: flex;
    justify-content: center;
    justify-content: space-between;
    

}
.day{
    width: 60px;
    height: 60px;
    border: var(--border);
    /* background-color: var(--back); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.day_2{
    width: 35px;
    height: 35px;
    border: var(--border);
    margin-left: 10px;
    background-image: url(download-removebg-preview\ \(11\).png);
background-size: contain;
background-repeat: no-repeat;
}
.day_3{
    width: 30px;
    height: 30px;
    border: var(--border);
    margin-left: 10px;
    background-image: url(images-removebg-preview\ \(9\).png);
background-size: contain;
background-repeat: no-repeat;
}
.searh{
    width: 600px;
    height: 60px;
    border: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
}
.input_sarch{
    width: 250px;
    height: 35px;
    border: var(--border);
    border-radius: 30px;
    padding-left: 10px;
}
.input_sarch_2{
    width: 250px;
    height: 35px;
    border: var(--bor);
    border-radius: 30px;
    padding-left: 10px;
}
.input_sarch::placeholder{
    font-size: 18px;
}
.icon_img{
    width: 60px;
    height: 60px;
    border: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
}
.all_icon{
    width: 240px;
    height: 60px;
    border: var(--border);
    display: flex;

}
.all_icon_2{
    width: 240px;
    height: 60px;
    border: var(--border);
    display: flex;
    color: black;

}

.proplus{
    width: 60px;
    height: 60px;
    border: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;

}
.pro{
    width: 35px;
    height: 35px;
    border: var(--border);
    border-radius: 50%;
}
.pro img{

   border-radius: 50%;
}
.boo{
    width: 60px;
    height: 60px;
    border: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1px;
}
.boom{
    width: 40px;
    height: 40px;
    border: var(--border);
    background-color: transparent;
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.boom_2{
    color: black;
}
/* <!-- mediaquary --> */


@media only screen and (max-width: 440px){

    .part_2_center {
        /* display: none; */
        position: relative;
        width: 100%;
    }
    .center {
        width: 100%;
        height: auto;
        border: var(--border);
        position: absolute;
        left: 1px;
        /* display: flex; */
        flex-direction: column;
        
    }
.part_1_center{
    width: 100%;
}

    .h3{
        color: white;
    }
    .coustmar{
        display: none;
    }
    .last_center {
        width: 100%;
        height: auto;
        border: var(--border);
        /* margin-top: 20px; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    
    }
    
.last_1 {
    width: 100%;
    height: 330px;
    border: var(--border);
    border-radius: var(--radius);
    background-color: var(--back);

}
#chart_2{
    width: 100%;
}
    .last_2 {
        width: 100%;
        height: 330px;
        border: var(--border);
        border-radius: var(--radius);
        /* background-color: rgba(0, 255, 255, 0.33); */
        background-color: var(--back);
    
    }
    .nav_left{
    width: 400px;
}
.nav_right{
    width: 170px;
    font-size: 15px;
}
.searh{
display: none;
}
.input_sarch{
    display: none;
}
.icon_img{
    width: 40px;
    height: 40px;
    border: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_left{
    display: none;
}
.all_icon{
display: none;

}
.right {
    z-index: 999;
    width: 250px;
/* background-color: #171c31; */
height: 100vh;
display: none;
}
.proplus{
    width: 60px;
    height: 60px;
    border: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;

}
.chart_hading_1 {
    width: 320px;
    height: 30px;
    border: var(--border);
    margin-top: 30px;
    /* margin-bottom: 10px; */
    color: var(--light);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tickets_2 {
    width: 200px;
    font-size: 13px;
    height: 30px;
    border: var(--border);
    color: var(--light);
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.tickets {
    width: 120px;
    font-size: 15px;
    height: 30px;
    border: var(--border);
    color: var(--light);
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.chart_hading_2{
  display: none;
}
.last_center{
    margin-top: var(--top);
}
.last_2{
    margin-top: var(--top);
}
.part_2_first{
    margin-top: var(--top);

}
.part_2_second {
    margin-top: var(--top);
}
.right_2{
    margin-top: 10px;
}
.right_text{
    margin-top: 5px;

}
.right_text_2{
    margin-top: 5px;

}
.email{
    margin-top: 5px;
}
.email_second{
    margin-top: 5px;

}
.butten{
    width: 80%;
    margin-top: 30px;
}
.right_1 h3{
   color: #1039da;
}
}